/* Main Color */
$color-main: rgba(#00ffe4, 1) ;
$color-main-blight: lighten($color-main, 12.5%) ;
$color-main-strong: desaturate($color-main, 25%) ;
$color-main-deep: darken($color-main, 12.5%) ;
$color-main-light: lighten($color-main, 25%) ;
$color-main-soft: desaturate(lighten($color-main, 12.5%), 50%) ;
$color-main-dull: desaturate(darken($color-main, 12.5%), 50%) ;
$color-main-dark: darken($color-main, 25%) ;
$color-main-pale: lighten($color-main, 37.5%) ;
$color-main-lgrayish: desaturate(lighten($color-main, 12.5%), 75%) ;
$color-main-grayish: desaturate(darken($color-main, 12.5%), 75%) ;
$color-main-dgrayish: darken($color-main, 37.5%) ;

/* Sub Color */
$color-sub: rgba(#00b1ff, 1) ;
$color-sub-blight: lighten($color-sub, 12.5%) ;
$color-sub-strong: desaturate($color-sub, 25%), ;
$color-sub-deep: darken($color-sub, 12.5%) ;
$color-sub-light: lighten($color-sub, 25%) ;
$color-sub-soft: desaturate(lighten($color-sub, 12.5%), 50%) ;
$color-sub-dull: desaturate(darken($color-sub, 12.5%), 50%) ;
$color-sub-dark: darken($color-sub, 25%) ;
$color-sub-pale: lighten($color-sub, 37.5%) ;
$color-sub-lgrayish: desaturate(lighten($color-sub, 12.5%), 75%) ;
$color-sub-grayish: desaturate(darken($color-sub, 12.5%), 75%) ;
$color-sub-dgrayish: darken($color-sub, 37.5%) ;

/* Accent Color */
$color-accent: rgba(#ff009d, 1) ;
$color-accent-blight: lighten($color-accent, 12.5%) ;
$color-accent-strong: desaturate($color-accent, 25%), ;
$color-accent-deep: darken($color-accent, 12.5%) ;
$color-accent-light: lighten($color-accent, 25%) ;
$color-accent-soft: desaturate(lighten($color-accent, 12.5%), 50%) ;
$color-accent-dull: desaturate(darken($color-accent, 12.5%), 50%) ;
$color-accent-dark: darken($color-accent, 25%) ;
$color-accent-pale: lighten($color-accent, 37.5%) ;
$color-accent-lgrayish: desaturate(lighten($color-accent, 12.5%), 75%) ;
$color-accent-grayish: desaturate(darken($color-accent, 12.5%), 75%) ;
$color-accent-dgrayish: darken($color-accent, 37.5%) ;

/* Mono Color (Base or Text Color) */
$color-mediumgray: desaturate($color-main, 100%) ;
$color-white: desaturate(lighten($color-main, 50%), 100%) ;
$color-lightgray: desaturate(lighten($color-main, 25%), 100%) ;
$color-darkgray: desaturate(darken($color-main, 25%), 100%) ;
$color-black: desaturate(darken($color-main, 50%), 100%) ;
